@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
html {
  height: 100%;
}
body {
  font-family: "PT Sans", "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-size: 24px;
  line-height: 28px;
  margin: 0;

  .main-container {
    flex-grow: 1;
  }
}
ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.button {
  color: #ffffff;
  background-color: #756157;
  text-transform: uppercase;
  border-radius: 4px;
  text-align: center;
  list-style: none;
}

.button-small {
  font-size: 16px;
  line-height: 20px;
  padding: 8px 34px;
  color: #ffffff;
}

.button-big {
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
}

.button-newsletter {
  background-color: #82b3d3;
  border-radius: 0px 4px 4px 0px;
  width: 232px;
  height: 52px;
}
.navigation {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0 auto;
}

.navigation-list,
.navigation-user {
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #000000;
  margin: 0;
  padding: 0;
}
.navigation-list {
  display: flex;
  margin-left: 30px;
  align-content: center;
  justify-content: space-between;
  width: 340px;
}
.navigation-user {
  width: 400px;
  margin-left: 285px;
}
.navigation-item {
  padding: 0;
}

.navigation-link {
  text-decoration: none;
  color: #000000;
}
.visually-hidden {
  display: ;
}
.hero {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 1200px;
  background-image: url("../images/index-background.jpg");
  background-color: #756157;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.advantages-text {
  box-sizing: border-box;
  width: 1200px;
  height: 261px;
  padding: 69px 0px 69px 0px;
}

.text-l {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.text-m {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
}

.text-s {
  font-size: 18px;
  line-height: 21px;
}

.advantages-list {
  width: 100%;
  justify-content: space-between;
  text-align: center;
  margin: 0;
}
.advantages {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0 auto;
  justify-content: center;
}
.advantages-item {
  box-sizing: border-box;
  width: 400px;
  height: 385px;
  background-color: #82b3d3;
  color: #ffffff;
  padding: 103px 85px;
}
.advantages-title {
  text-transform: uppercase;
}

.advantages-city,
.advantages-bridge {
  width: 1200px;
  display: flex;
  padding: 0;
}

.advantages-bridge {
  flex-direction: row-reverse;
}

.advantages-text-container {
  padding: 102px 85px;
}

.advantages-square,
.advantages-turists {
  background-color: rgba(131, 179, 211, 0.12);
  color: #000000;
}

.advantages-road {
  background-color: rgba(131, 179, 211, 0.2);
  color: #000000;
}

.heading-m {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
}

.service-list {
  text-align: center;
}

.service-title {
  text-transform: uppercase;
}

.service-text {
  box-sizing: border-box;
  width: 1200px;
  height: 246px;
  padding: 64px 0px 64px 0px;
}

.service-item {
  box-sizing: border-box;
  width: 400px;
  height: 385px;
  background-color: rgba(131, 179, 211, 0.12);
  padding: 80px 85px;
}

.service-food {
  background-color: #ffffff;
}

.search {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 96px 304px;
  box-sizing: border-box;
  text-align: center;
}

.newsletter {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 415px;
  margin: 0 auto;
  justify-content: center;
  box-sizing: border-box;
  background-color: #756157;
  color: #ffffff;
  text-align: center;
}

.newsletter-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.newsletter-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.page-footer-container {
  width: 1200px;
  margin: 0 auto;
}

.footer-contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-social-list {
  margin-left: 70px;
  width: 150px;
}

.footer-contacts-adress-phone {
  width: 720px;
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

.catalog {
  width: 1200px;
  height: 412px;
  background-image: url(../images/catalog-background.jpg);
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}

.inner-header-title {
  margin: 35px 565px 0 70px;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  font-size: 16px;
  line-height: 21px;
  margin: 8px 946px 40px 70px;
}

.breadcrumbs-link {
  color: #ffffff;
  text-decoration: none;
}

.catalog-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1020px;
  margin: 40px 70px 70px;
}

.catalog-filter-group {
  padding: 0;
  border: none;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}
.catalog-filter-list {
  flex-direction: column;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
}

.button-catalog {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.control-input {
  font-size: 18px;
  line-height: 24px;
}

.button-submit,
.button-reset {
  color: #ffffff;
  background-color: #82b3d3;
  border-radius: 4px;
  padding: 8px 50px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}

.button-reset {
  background-color: black;
}

.search-catalog {
  width: 1060px;
  margin: 0 auto;
  justify-content: space-between;
}

.search-hotel {
  display: flex;
  width: 1020px;
  align-items: center;
  justify-content: space-between;
}

.catalog-hotels {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.select-control {
  color: #333;
  font-size: 18px;
  line-height: 21px;
}

.hotels-list {
  justify-content: space-between;
}

.hotels-card {
  list-style: none;
}

.hotels-card-link {
  color: #000;
  font-weight: 700;
  text-decoration: none;
}

.hotels-card-text-s {
  color: #333;
  font-size: 18px;
  line-height: 21px;
}

.price {
  text-align: right;
}

.hotels-card-button,
.button-cards {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

.hotels-card-desscription {
  color: #333;
  font-size: 16px;
  line-height: 20px;
}

.pagination-item {
  width: 60px;
  height: 60px;
  border-radius: 4px;
  text-align: center;
}

.pagination-link {
  background-color: #82b3d3;
  color: #ffffff;
  text-decoration: none;
}

.pagination-current {
  background-color: #f2f2f2;
  color: #000;
}

.newsletter-catalog {
  color: #000;
  background-color: white;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
