@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
html {
  height: 100%;
}
body {
  font-family: "PT Sans", "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
  min-height: 100%;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
}

.main-container {
  flex-grow: 1;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.button {
  display: inline-block;
  font-family: inherit;
  cursor: pointer;
  color: #ffffff;
  background-color: #756157;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
  text-align: center;
  list-style: none;
}

.button-small {
  width: 160px;
  height: 36px;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 0;
  color: rgb(255, 255, 255);
  font-weight: 700;
  border-radius: 4px;
  margin-right: -5px;
}

.button-big {
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
}

.search-link {
  font-size: 20px;
  line-height: 36px;
  padding: 0;
  width: 376px;
  height: 52px;
  font-weight: 700;
}

.button-newsletter {
  background-color: #82b3d3;
  border-radius: 0 4px 4px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  width: 232px;
  height: 52px;
  padding: 0;
}

.button-brown:hover {
  background-color: rgba(97, 80, 72, 1);
}

.button-brown:focus {
  background-color: rgba(97, 80, 72, 1);
}

.button-brown:active {
  background-color: rgba(117, 97, 87, 1);
  color: rgba(255, 255, 255, 0.3);
}

.button-blue:hover {
  background-color: rgba(104, 162, 202, 1);
}

.button-blue:focus {
  background-color: rgba(104, 162, 202, 1);
}

.button-blue:active {
  background-color: rgba(130, 179, 211, 1);
  color: rgba(255, 255, 255, 0.3);
}

.button-favorit-active {
  background-color: rgba(125, 181, 79, 1);
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  width: 140px;
  height: 36px;
  margin: 0;
}

.button-favorit-active:hover {
  background-color: rgba(108, 158, 66, 1);
}

.button-favorit-active:focus {
  background-color: rgba(108, 158, 66, 1);
}

.button-favorit-active:active {
  background-color: rgba(125, 181, 79, 1);
  color: rgba(255, 255, 255, 0.3);
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 1060px;
  margin-bottom: -11px;
  min-height: 64px;
  margin-left: 70px;
}

.logo-link {
  z-index: 2;
}

.navigation-list,
.navigation-user {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: capitalize;
  color: #000000;
  margin: 0;
  padding: 0;
}

.user-navigation-link {
  text-decoration: none;
  color: #000000;
  display: inline-block;
  width: 44px;
  height: 59px;
}

.user-navigation-link:focus {
  border: 3px;
  border-color: rgba(131, 179, 211, 1);
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 28px;
  margin-bottom: auto;
  width: 339px;
  min-height: 64px;
}

.navigation-user {
  align-items: center;
  justify-content: space-between;
  width: 268px;
  margin-left: 280px;
}

.navigation-item {
  position: relative;
  padding: 20px 16px;
}

.navigation-item-active::after {
  position: absolute;
  left: 16px;
  right: 16px;
  bottom: 0;
  width: 69%;
  border: 1px solid rgba(117, 98, 87, 1);
  content: "";
}

.navigation-link {
  text-decoration: none;
  color: #000000;
}

.navigation-icon {
  padding: 0;
  min-width: 44px;
  min-height: 64px;
}

.navigation-icon-svg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: black;
}

.navigation-icon-search {
  right: -9px;
}

.navigation-icon-favorit {
  right: -5px;
}

.favorite-counter {
  position: absolute;
  top: 11px;
  left: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  background-color: #7db54f;
  border-radius: 50%;
}

.navigation-button {
  margin-left: 20px;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  min-height: 485px;
  background-image: url("../images/index-background.jpg");
  background-color: #756157;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-block {
  margin-top: 51px;
}

.hero::after {
  content: url("../images/divider.svg");
  position: absolute;
  bottom: 0;
  margin: -6px;
}

.advantages-text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  min-height: 282px;
  padding: 0;
}

.text-l {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.advantages-text-l {
  margin: 69px 290px 25px;
}

.service-text-l {
  margin: 64px 348px 20px;
}

.text-m {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
}

.advantages-text-m {
  margin: 0;
  margin-bottom: 90px;
}

.service-heading-m {
  margin: 0;
  margin-bottom: 64px;
}

.text-s {
  margin-bottom: 0;
  font-size: 18px;
  line-height: 21px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  text-align: center;
  margin: 0;
  list-style: none;
  padding: 0;
}

.advantages {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}

.advantages-item {
  position: relative;
  box-sizing: border-box;
  width: 400px;
  min-height: 385px;
  background-color: #82b3d3;
  color: #ffffff;
  padding: 112px 85px;
}

.advantages-title {
  position: relative;
  width: 175px;
  min-height: 56px;
  margin: 0;
  margin-left: 27px;
  margin-bottom: 62px;
  font-size: 24px;
  text-transform: uppercase;
}

.advantages-title::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  top: 86px;
  right: 57px;
}

.advantages-title-city::after,
.advantages-title-devil::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.advantages-city,
.advantages-bridge {
  width: 1200px;
  display: flex;
  padding: 0;
}

.advantages-bridge {
  flex-direction: row-reverse;
}

.advantages-text-container {
  padding: 102px 85px;
}

.advantages-square,
.advantages-turists {
  background-color: rgba(131, 179, 211, 0.12);
  color: #000000;
}

.advantages-road {
  background-color: rgba(131, 179, 211, 0.2);
  color: #000000;
}

.heading-m {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
}

.service-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  list-style: none;
  min-height: 385px;
  margin: 0;
  padding: 0;
}

.service-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.service-text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  box-sizing: border-box;
  min-height: 246px;
}

.service-item {
  box-sizing: border-box;
  width: 400px;
  min-height: 385px;
  background-color: rgba(131, 179, 211, 0.12);
  padding: 80px 85px;
}

.service-food {
  background-color: #ffffff;
}

.search {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 95px 304px;
  box-sizing: border-box;
  text-align: center;
}

.adversting {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.search-text-m {
  margin: 0;
  margin-bottom: 54px;
}

.newsletter {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  min-height: 415px;
  margin: 0 auto;
  padding-top: 104px;
  padding-bottom: 104px;
  background-image: url(../images/background-newsletter.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  justify-content: center;
  box-sizing: border-box;
  background-color: #756157;
  color: #ffffff;
  text-align: center;
}

.newsletter-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.newsletter-title,
.newsletter-text-m {
  width: 475px;
  margin: 0 auto;
  margin-top: -6px;
}

.newsletter-text-m {
  margin-top: 20px;
  margin-bottom: 54px;
}

.newsletter-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.field {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  line-height: 24px;
  font-size: 18px;
  padding: 0;
  padding-left: 20px;
  width: 432px;
  min-height: 52px;
  border: none;
  border-radius: 4px 0 0 4px;
  background-color: rgba(242, 242, 242, 1);
}

.page-footer-container {
  margin: 0 auto;
}

.footer-contacts {
  display: flex;
  flex-wrap: wrap;
  min-height: 50px;
  margin-top: 40px;
  margin-bottom: 30px;
  justify-content: center;
  align-content: center;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0;
  margin-right: 41px;
  width: 142px;
  list-style: none;
  padding: 0;
}

.footer-social-item {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  min-width: 47px;
  min-height: 40px;
}
.footer-social-link {
  display: block;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  fill: rgba(131, 179, 211, 1);
  background-size: 47px 40px;
}

.footer-social-link:hover svg {
  fill: rgba(104, 162, 202, 1);
}

.footer-social-link:focus svg {
  fill: rgba(104, 162, 202, 1);
}

.footer-social-link:active svg {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-contacts-adress-phone {
  width: 720px;
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  margin-top: 2px;
}

.footer-contacts-adress-phone:hover {
  color: rgba(117, 97, 87, 1);
}

.footer-contacts-adress-phone:focus {
  color: rgba(117, 97, 87, 1);
}

.footer-contacts-adress-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.creators-icon:hover {
  fill: rgba(117, 97, 87, 1);
}

.creators-icon:focus {
  fill: rgba(117, 97, 87, 1);
}

.creators-icon:active {
  fill: rgba(117, 97, 87, 0.3);
}

.about-creators {
  margin-top: 5px;
  margin-left: 41px;
}

.modal-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(242, 242, 242, 0.8);
  z-index: 2;
}

.modal-container-close {
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 717px;
  min-height: 576px;
  background-color: #ffffff;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  transform: translate(-50%, -50%);
}

.modal-content {
  margin: 64px 70px;
}

.modal-title {
  text-transform: uppercase;
  margin-bottom: 64px;
  font-size: 30px;
  line-height: 36px;
}

.modal-close-button {
  position: absolute;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus:not(:active) {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.modal-close-button:active > .cross-toggle {
  opacity: 0.3;
}

.cross-toggle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-search {
  display: flex;
  flex-direction: column;
  row-gap: 22px;
}

.form-search-label {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 577px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.label-text {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}

.response-message {
  width: 371px;
  min-height: 21px;
  margin-top: 4px;
  margin-left: 157px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.wrong-date {
  color: #ff5757;
}

.form-search input {
  margin-bottom: 1px;
  font: inherit;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
}

.form-search input:hover {
  background-color: #e6e6e6;
}

.form-search input:active {
  background-color: #ffffff;
  outline: 2px solid #000000;
}

.form-search input:focus:not(:active) {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.form-search input[type="text"] {
  width: 420px;
  min-height: 48px;
  padding: 0;
  margin: 0;
  padding-left: 20px;
  background-repeat: no-repeat;
  background-position: right 23px top 16px;
  background-image: url("../images/calendar-icon.svg");
}

.children-wrapper {
  display: flex;
  align-items: center;
}

.persons-wrapper {
  display: flex;
}

.persons-wrapper .form-search-label {
  width: 247px;
  min-height: 48px;
}

.label-children {
  margin-left: 92px;
}

.form-search input[type="number"] {
  position: relative;
  width: 110px;
  min-height: 48px;
  padding: 0;
  text-align: center;
  appearance: textfield;
}

.form-search input[type="number"]::-webkit-outer-spin-button,
.form-search input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.search-persons {
  margin-right: -5px;
  margin-top: 2px;
}

.minus-spin,
.plus-spin {
  position: absolute;
  display: flex;
  align-items: center;
  width: 13px;
  height: 13px;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.minus-spin {
  top: 19px;
  left: 151px;
}

.minus-spin-children {
  left: 145px;
}

.plus-spin-children {
  right: 14px;
}

.plus-spin {
  top: 19px;
  right: 9px;
}

.minus-spin:focus:not(:active),
.plus-spin:focus:not(:active) {
  outline: 3px solid #83b3d3;
}

.toggle-icon {
  opacity: 0.3;
}

.minus-spin:hover > .toggle-icon,
.plus-spin:hover > .toggle-icon {
  opacity: 1;
}

.minus-spin:active > .toggle-icon,
.plus-spin:active > .toggle-icon {
  opacity: 0.2;
}

.children-wrapper > .label-text {
  margin-right: 11px;
}

.search-info {
  width: 26px;
  height: 26px;
  margin-top: 2px;
  background-color: #83b3d3;
  background-image: url("../images/tool-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 50%;
}

.search-info:hover {
  background-color: #68a2ca;
}

.search-info:focus + .info-popover {
  display: flex;
}

.form-search-button {
  margin-top: 27px;
  padding: 10px 0;
  font: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #83b3d3;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.form-search-button:hover {
  background-color: #68a2ca;
}

.form-search-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.info-popover {
  position: absolute;
  top: 45px;
  right: 42px;
  z-index: 1;
  display: none;
  flex-direction: column;
  align-items: center;
  width: 256px;
}

.decorative-triangle {
  margin-bottom: -1px;
}

.search-info:hover + .info-popover {
  display: flex;
}

.triangle-decor {
  display: block;
}

.info-content {
  padding: 18px 18px 24px 22px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #333333;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.catalog {
  min-height: 412px;
  background-image: url("../images/catalog-background.jpg");
  background-color: rgba(130, 179, 211, 1);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}

.inner-header-title {
  margin: 0;
  padding-top: 35px;
  padding-left: 70px;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 245px;
  margin-left: 70px;
  margin-top: 8px;
  font-size: 16px;
  line-height: 21px;
  list-style: none;
  padding: 0;
}

.breadcrumbs-item {
  margin-right: 10px;
}

.breadcrumbs-link {
  color: #ffffff;
  text-decoration: none;
}
.breadcrumbs-item-link::after {
  content: url("../images/bird-white.svg");
  position: absolute;
  margin-left: 10px;
}

.breadcrumbs-item-link:focus {
  outline: none;
}

.link-home {
  position: relative;
  top: 2px;
}

.breadcrumbs-link-home {
  fill: white;
}

.breadcrumbs-item:hover svg {
  fill: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-item:focus svg {
  fill: rgba(255, 255, 255, 1);
}

.breadcrumbs-item:active svg {
  fill: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-item-navigator {
  margin-left: 18px;
}

.catalog-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1060px;
  margin: 40px 70px 70px 70px;
}

.lable-catalog-filter {
  display: block;
  position: relative;
  padding-left: 36px;
  cursor: pointer;
}

.control-mark {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 1);
  left: 0;
  top: 2px;
}

.lable-catalog-filter:hover .control-mark {
  background-color: rgba(229, 229, 229, 1);
}

.control-label:hover {
  color: rgba(229, 229, 229, 1);
}

.control-input-checkbox:disabled + .control-mark {
  background-color: rgba(255, 255, 255, 1);
}

.control-input-checkbox[type="checkbox"]:checked + .control-mark::before,
.control-input-checkbox[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  content: url("../images/vector-form.svg");
  top: -2px;
  left: 4px;
}

.control-input-radio[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input-radio[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: rgba(63, 94, 114, 1);
  border-radius: 50%;
  content: "";
}

.catalog-filter-group {
  display: block;
  min-height: 157px;
  padding: 0;
  margin: 0;
  border: none;
}

.catalog-filter-group-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 371px;
  justify-content: space-between;
}

.catalog-filter-input-container {
  display: flex;
  align-items: center;
  width: 549px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.control-input-checkbox {
  height: 20px;
  width: 20px;
  border-radius: 4px;
  margin: 0;
  background-color: rgba(255, 255, 255, 1);
}

.control-input-checkbox:focus ~ .control-mark {
  outline: 3px rgba(131, 179, 211, 1);
}

.control-input-radio {
  min-height: 20px;
  width: 20px;
  margin: 0;
}

.control-input-radio:focus ~ .control-mark {
  outline: 3px rgba(131, 179, 211, 1);
}

.filter-group-radio {
  width: 150px;
}

.catalog-filter-title {
  margin-bottom: 32px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  padding: 0;
  text-transform: capitalize;
}

.catalog-filter-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 101px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-range-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-item {
  width: 151px;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 15px;
}

.catalog-price-item {
  width: 145px;
}

.catalog-filter-container {
  display: flex;
  flex-wrap: wrap;
  width: 288px;
}

.button-catalog {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-end;
  height: 104px;
}

.control-input {
  width: 101px;
  min-height: 44px;
  margin: 0;
  padding: 0;
  padding-left: 17px;
  padding-right: 20px;
  font-size: 18px;
  line-height: 24px;
}

.button-submit,
.button-reset {
  color: #ffffff;
  background-color: #82b3d3;
  border-radius: 4px;
  border: 0;
  padding: 8px 50px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  font-family: inherit;
}

.button-reset {
  background-color: transparent;
  margin-bottom: -2px;
}

.button-reset:hover {
  color: rgba(255, 255, 255, 0.5);
}

.button-reset:focus {
  color: rgba(255, 255, 255, 1);
  border-color: rgba(131, 179, 211, 1);
  border: 3px;
}

.button-reset:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-cards {
  background-color: #82b3d3;
}

.button-submit {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 191px;
  margin-bottom: 32px;
}

.range {
  position: relative;
  width: 288px;
  height: 94px;
  display: inline-flex;
  align-items: center;
  bottom: 15px;
}

.range_line {
  width: 288px;
  height: 4px;
  background-color: rgba(63, 94, 114, 1);
}

.range_line-progress {
  width: 210px;
  height: 4px;
  background-color: #e4e4e4;
  position: absolute;
}

.range_button {
  position: absolute;
  border-radius: 5px;
  border: none;
  width: 20px;
  height: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.range_button-less {
  left: 0;
}

.range_button-more {
  right: 62px;
}

.hidden {
  display: none;
}

.search-catalog {
  width: 1060px;
  margin: 0 auto;
  justify-content: space-between;
  position: relative;
}

.search-catalog::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 1060px;
  bottom: 159px;
  background-color: rgba(230, 230, 230, 1);
  border: 1px;
}

.search-hotel {
  display: flex;
  margin-top: 33px;
  width: 1060px;
  min-height: 46px;
  align-items: center;
  justify-content: space-between;
}

.select {
  display: flex;
  flex-wrap: wrap;
  width: 160px;
  margin-left: 70px;
  justify-content: space-between;
  background-color: white;
}

.card-grid-toggle {
  height: 48px;
  width: 48px;
  background-color: white;
  border: 2px solid rgba(229, 229, 229, 1);
  border-radius: 4px;
}

.card-grid-toggle:hover {
  border-color: rgba(0, 0, 0, 1);
}

.card-grid-toggle:focus {
  border-color: rgba(104, 162, 202, 1);
}

.card-grid-toggle:active {
  border-color: rgba(0, 0, 0, 1);
}

.catalog-hotels {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.select-control {
  font-family: "PT Sans", sans-serif;
  width: 292px;
  min-height: 49px;
  border: 2px solid rgba(229, 229, 229, 1);
  border-radius: 4px;
  margin-left: 200px;
  appearance: none;
  padding: 12px 18px;
  padding-right: 40px;
  background-image: url("../images/bird.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  color: #333;
  font-size: 18px;
  line-height: 21px;
}

.select-control:hover {
  border-color: rgba(104, 162, 202, 1);
}

.select-control:focus {
  border-color: rgba(63, 94, 114, 1);
  outline: none;
}

.hotels-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 18px 20px;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 55px;
  list-style: none;

  padding: 0;
}

.hotels-card {
  display: grid;
  grid-template-columns: 140px 140px;
  gap: 16px 20px;
  padding: 20px 18px;
  justify-items: start;
  list-style: none;
  border: 1px solid rgba(230, 230, 230, 1);
}

.hotels-card-title {
  text-align: start;
  font-size: 24px;
  line-height: 28px;
  padding-top: 11px;
  margin: 0;
  min-height: 26px;
}

.hotels-card-link {
  color: #000;
  font-weight: 700;
  text-decoration: none;
}

.hotels-card-text-s {
  color: #333;
  font-size: 18px;
  line-height: 21px;
  width: 140px;
  text-align: left;
  grid-column: 2/1;
}

.price {
  width: 140px;
  text-align: right;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.hotels-card-button,
.button-cards {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  width: 140px;
  height: 36px;
  margin: 0;
}

.hotels-card-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  width: 88px;
  height: 20px;
  padding: 8px 26px;
  text-decoration: none;
}

.hotels-card-desscription {
  font-size: 16px;
  line-height: 35px;
  color: #333;
  text-transform: uppercase;
  background-color: #f2f2f2;
  width: 140px;
  min-height: 37px;
  text-align: center;
  margin: 0;
  padding: 0;
  border-radius: 4px;
}

.stars,
.hotels-card-desscription {
  width: 140px;
  margin: 0;
}

.stars {
  display: flex;
  width: 140px;
  padding-top: 10px;
}

.rating-star {
  width: 18px;
  height: 17px;
  padding-right: 6px;
}

.rating-star {
  background-image: url("../images/star.svg");
  background-repeat: no-repeat;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 1060px;
  padding: 0;
  margin-bottom: 59px;
}

.pagination-item {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  margin-right: 8px;
  width: 60px;
  max-height: 60px;
  border-radius: 4px;
  text-align: center;
  background-color: rgba(130, 179, 211, 1);
  cursor: pointer;
}

.pagination-page:hover {
  background-color: rgba(104, 162, 202, 1);
}

.pagination-page:focus {
  background-color: rgba(104, 162, 202, 1);
}

.pagination-page:active {
  background-color: rgba(130, 179, 211, 1);
  color: rgba(255, 255, 255, 0.3);
}

.pagination-link {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  color: #ffffff;
  text-decoration: none;
}

.pagination-current {
  background-color: rgba(242, 242, 242, 1);
}

.pagination-dots {
  background-color: white;
  color: black;
}

.newsletter-catalog {
  background-image: none;
  background-color: white;
  color: #000;
}

.pagination-link-current {
  color: #000;
  background-color: rgba(242, 242, 242, 1);
}

.pagination-link-dots {
  color: #000;
  background-color: white;
}
